NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:8000
NEXT_PUBLIC_LIVEKIT_URL=ws://127.0.0.1:7880
DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/postgres"
DIRECT_URL="postgresql://postgres:password@127.0.0.1:5432/postgres"
