google-genai>=0.3.0
python-dotenv
numpy<2.0.0
asyncpg
fastapi
uvicorn
websockets
jaraco.context>=6.1.0
wheel>=0.46.2
APScheduler==3.11.2
nats-py>=2.7.0
neo4j>=5.0.0
requests
soxr
livekit-api
livekit
aiohttp
