google-genai>=2.0.1
python-dotenv
numpy<3.0.0
asyncpg
fastapi
uvicorn
websockets
jaraco.context>=6.1.2
wheel>=0.47.0
APScheduler==3.11.2
nats-py>=2.14.0
neo4j>=6.2.0
requests
httpx
soxr
livekit-api
livekit
aiohttp
